In [2]:
import pandas as pd

In [8]:
columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']

In [11]:
df = pd.read_csv('adult.data', header=None, names=columns)

df.head(5)

   age          workclass  fnlwgt   education  education-num       marital-status          occupation    relationship    race      sex  capital-gain  capital-loss  hours-per-week  native-country  income
0   39          State-gov   77516   Bachelors             13        Never-married        Adm-clerical   Not-in-family   White     Male          2174             0              40   United-States   <=50K
1   50   Self-emp-not-inc   83311   Bachelors             13   Married-civ-spouse     Exec-managerial         Husband   White     Male             0             0              13   United-States   <=50K
2   38            Private  215646     HS-grad              9             Divorced   Handlers-cleaners   Not-in-family   White     Male             0             0              40   United-States   <=50K
3   53            Private  234721        11th              7   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male             0             0              40   United-States   <=50K
4   28            Private  338409   Bachelors             13   Married-civ-spouse      Prof-specialty            Wife   Black   Female             0             0              40            Cuba   <=50K

In [20]:
# 1) Число столбцов в наборе данных

number_columns = df.shape[1]

print(f"Количество столбцов: {num_colums}")

Количество столбцов: 15

In [22]:
# 2. Есть ли пропуски в данных? Если есть, то в каких столбцах

missing_info = {}

for column in df.columns:
    num_missing = (df[column] == ' ?').sum()
    
    if num_missing > 0:
        missing_info[column] = num_missing

if missing_info:
    for column, count in missing_info.items():
        print(f"В {column}: {count} пропусков")
else:
    print("Пропусков нет")

В workclass: 1836 пропусков
В occupation: 1843 пропусков
В native-country: 583 пропусков

In [24]:
# 3. Кол-во уникальных значений в столбце race

unique_race_count = df['race'].nunique()

print(f"Количество уникальных значений в столбце 'race': {unique_race_count}")

Количество уникальных значений в столбце 'race': 5

In [25]:
# 4. Медиана hours-per-week
median_hours_per_week = df['hours-per-week'].median()
print(f"Медиана 'hours-per-week': {median_hours_per_week}")

Медиана 'hours-per-week': 40.0

In [36]:
# 5. Сравнить количество мужчин и женщин с ЗП >50K
high_income = df[df['income'] == ' >50K']
male_count = (high_income['sex'] == ' Male').sum()
female_count = (high_income['sex'] == ' Female').sum()

if male_count > female_count:
    print(f"Мужчин с ЗП >50K больше: {male_count} против {female_count}")
else:
    print(f"Женщин с ЗП >50K больше: {female_count} против {male_count}")

Мужчин с ЗП >50K больше: 6662 против 1179

In [41]:
# 6. Заполнить пропущенные данные наиболее частыми значениями
columns = ['workclass', 'occupation', 'native-country']
for col in columns:
    most_common = df[col].mode()[0]
    df.replace({col: ' ?'}, most_common, inplace=True)

In [42]:
# проверка на заполнение

missing_info = {}

for column in df.columns:
    num_missing = (df[column] == ' ?').sum()
    
    if num_missing > 0:
        missing_info[column] = num_missing

if missing_info:
    for column, count in missing_info.items():
        print(f"В {column}: {count} пропусков")
else:
    print("Пропусков нет")

Пропусков нет